################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PubsSubFunctions/bin
/.vs
/packages
/PubsSubFunctions/obj/
/PubsSubFunctions/Properties/PublishProfiles
